body  {
  margin: 0;
  padding: 0;
  background: #777;
  font-family: arial, helvetica, sans-serif;
  }

#contenedor {
  width: 900px;
  margin: 0 auto;
  }

#cabecera {
  background: #f60;
  }

#principal  {
  background: #fff;
  display: table;
  }

#pie  {
  background: #f60;
  }